<div class="banner">
    <h1>Tasks</h1>
</div>

<div class="container">
    <ul id="tasks-list">
        <% @tasks.each do |task| %>
            <li class="<%= task.completed ? 'completed' : 'pending' %>">
                <i class="<%= task.completed ? 'fa fa-check-square-o' : 'fa fa-square-o' %>"></i>
                <%= link_to task.title, task_path(task.id) %>
            </li>
        <% end %>
    </ul>
    <%= link_to 'add task', new_task_path, class: "btn btn-blue" %>
</div>