// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Defining a variable
$gray: #F4F4F4;
$completed-color: rgb(43, 182, 43);
$pending-color: grey;

.color-completed {
    color: $completed-color;
}

.color-pending {
    color: $pending-color;
}

#index-content {
    padding-bottom: 20vh;
    margin-bottom: 0;
}

#task-status {
    font-style: italic;
}

#tasks-list {
    list-style: none;
    padding: 0;


    li {
        border-bottom: 4px solid darken($gray, 15%);

        color: $pending-color;

        &.completed {
            color: $completed-color;

            a {
                color: $completed-color;
            }
        }

        a {
            text-decoration: none;
            color: $pending-color;
        }
    }
}

body {
    background: $gray; // Using this variable
    font-family: sans-serif;
    font-size: 3em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

form {
    background-color: darken($gray, 30%);
    padding: 1em;
    box-shadow: 10px 10px 30px 30px rgba(0, 0, 0, 0.75);

    span {
        display: flex;
        border-radius: 8px;
        overflow: hidden;
    }

    input[type=text] {
        width: 90%;
        padding: 12px 20px;
        margin: 0;
        box-sizing: border-box;
        font-size: 1em;
        /*filter: drop-shadow(10px, 0px, 23px, 0px rgba(0, 0, 0, 0.75));*/
    }

    input[type=submit] {
        width: 10%;
        margin: 0;
        background-color: rgb(76, 83, 175);
        border: none;
        color: white;
        padding: 15px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        box-shadow: inset 10px 0px 23px 0px rgba(0, 0, 0, 0.75);
    }
}

.banner {
    background: rgb(126, 100, 100);
    background-image: image-url('hero.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding: 20vh 10vw 10vh 10vw;
    position: sticky;
    top: 0;

    h1 {
        font-size: 50px;
        color: white;
        text-shadow: #000 0px 0px 5px;
        -webkit-font-smoothing: antialiased;
    }
}

.outline {
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 1em auto;
    width: 66%;
}

.footer {
    width: 100%;
    height: 20vh;
    padding: 10px 0px;
    background-color: darken($gray, 40%);
    position: fixed;
    bottom: 0;
}

/*a {
    color: grey;

    &:hover {
        color: black;
    }
}*/